/*uppdelen av sidan*/
#navbar {
  overflow: hidden;
  background-image: linear-gradient(#4950CF, #354E84);
  padding: 0px 0px;
  width: 100%;
  top: 0;
}

#navbar a {
  float: left;
  color: #351D00;
  text-align: right;
  padding: 10px;
  text-decoration: none;
  font-size: 30px;
  font-family: serif;
}

#navbar a:hover {
  color: #A6A7BA;
  font-size: 250%;
}

#navbar-right {
  float: right;
  text-align: center;
  margin-top: 45px;
}

body {
  background-size: cover;
}

/**********************'' sidan när är det under 1000 px ************************/
/* navigation bar under 1000 px*/
@media screen and (max-width: 1000px) {
  #navbar a {
    float: none;
    display: block;
    text-align: center;
    font-size: 45px;
  }

  /* altervativen(strat, boka, .....)under 1000 px */
  #navbar-right {
    float: none;
    margin-top: 0px;
  }

  /*rummen*/
  #room2 {
    max-width: 50%;
    float: left;
    font-size: 20px;
  }

  #room3 {
    max-width: 49.7%;
    float: right;
    font-size: 20px;
  }

  /* texten på bilden (hotellen) under 1000 px*/
  #texten {
    font-size: 18px;
  }

  #hotellen {
    height: 800px;
  }

  /* rubriken för hotellen (för enklare liv och Hotellen i skåne) under 1000 px*/
  h4 {
    margin-top: 300px;
    text-align: center;
  }

  #gym-t, #fritid-t, #row1, #row2 {
    font-size: 17px;
  }

  /* priser  under 700 px*/
  .rum1, .rum2, .rum3, .BH {
    font-size: 20px;
    text-align: center;
  }

  /*uppknappen under 700 px*/
  .gotopbtn {
    margin-bottom: 30px;
  }
}

/***************lobby*************/
.room {
  display: grid;
  width: 100%;
  margin-top: 10px;
}

#room2, #room3 {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

body {
  background-image: url("bg image.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/*****rubriker*****/
h1 {
  color: cyan;
  text-align: center;
}

/* Hotellen i skåne / för enklare liv*/
h4 {
  text-align: center;
}

#row2, #row1 {
  color: white;
  font-size: 20px;
  text-align: center;
}

#row1 {
  margin-bottom: 50px;
}

/* Nature bilden */
#hotellen {
  background-image: url("history.jpg");
  height: 700px;
  background-position: bottom right;
  position: relative;
  margin-top: 10px;
}

#texten {
  max-width: 1200px;
  font-size: 25px;
  text-align: center;
  position: absolute;
  top: 10%;
  right: 5%;
  left: 50px;
  color: white;
}

/* priser */
.rum1, .rum2, .rum3 {
  text-align: center;
  color: lightgray;
  border: 0.5px;
  text-shadow: 2px 2px 5px blue;
  border-radius: 5px;
  border-style: dotted;
  border-top: 15px;
  margin-bottom: 50px;
}

.BH {
  margin-bottom: 50px;
  color: white;
}

.Kom, .BH {
  color: white;
  text-align: center;
}

/* footer */
.footer {
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding: 5px;
  color: white;
  border: 5px solid #531919;
}

#gym-t, #gym, #fritid, #fritid-t, #row1, #row2 {
  width: 100%;
  margin-top: 10px;
  font-size: 21px;
  text-align: center;
}

h1 {
  font-size: 35px;
}

/* upp knappen */
.gotopbtn {
  position: fixed;
  width: 70px;
  height: 70px;
  background: transparent;
  bottom: 5px;
  right: 20px;
  color: #74ffc9;
  font-size: 40px;
}

html {
  scroll-behavior: smooth;
}
